{% extends 'main/base.html' %}
{% block title %}
Photo
{% endblock %}

{% block content %}
{% load static %}
<h1 align="right">Photo</h1>
{% endblock %}



<!--<a href="{% url 'about' %}">-->
<!--  <button class="btn btn-primary">back</button>-->
<!--</a>-->


<!--{% load static %}-->
<!--<body>-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">-->
<!--  <br>-->
<!--  <br>-->

<!--&lt;!&ndash;<img alt="Description of image" src="{% static 'images/main_ico.png' %} " width="1900">&ndash;&gt;-->

<!--</body>-->

<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--<html>-->
<!--<head>-->
<!--<title>Photo</title>-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">-->
<!--</head>-->
<!--<body id='bg' style="background-image: url('{%static 'images/background.jpg'%}');">-->
<!--	<header>-->
<!--		<h1 style="color: white;">Imoca</h1>-->
<!--		<p></p>-->
<!--		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">-->
<!--    <div class="container-fluid">-->
<!--      <a class="navbar-brand" href="#">Carousel</a>-->
<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--        <ul class="navbar-nav me-auto mb-2 mb-md-0">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" aria-current="page" href="/">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="about-us">About</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link disabled">Disabled</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <form class="d-flex" role="search">-->
<!--          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--	</header>-->

<!--<pm>&copy; 2023 GnoM</pm>-->
<!--</body>-->
<!--</html>-->


